body{
    background-color: #c0c0c0;
}

h1{
    color: #440000;
}

img{
    float:left;
}

.midterm{
    border: 2pt solid #440000;
    padding: 2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 1em;
    border-radius: 2em;
}